<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= @title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Platform as a Service Profiles Comparison">
		<meta name="keywords" content="PaaS, Comparison, Matching, Cloud, Platform as a Service, Cloud Computing">
		<meta name="author" content="Stefan Kolb">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link rel="icon" href="/favicon.png" type="image/png">
		<style>
			hr.soften {
			  height: 1px;
			  margin: 54px 0 25px 0;
			  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
			  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
			  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
			  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
			  border: 0;
			}
		</style>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</head>
	<body>
		
		<div id="top" class="container" style="padding-top: 40px; padding-bottom: 30px;">
			
			<ul class="breadcrumb">
				<li class="active">PaaS Profiles</li>
				<li class="pull-right">
					<small><em>We're open source!</em></small>
					<a href="https://github.com/stefan-kolb/paas-profiles" target="_blank" style="text-decoration: none; padding: 5px;">
						<img src="/img/github.png" style="width: 20px;"></img>
					</a>
				</li>
			</ul>
		
			<div class="row">
				<div class="span12">
					<%= yield %>
				</div>
			</div>
		</div>
		<hr class="soften"/>
		<footer id="footer" style="background-color: #fff; padding-bottom: 60px;">
				<div class="container">
					<div class="row">
						<div class="span12">
							<div class="row text-center">
								<div class="span12">
									<a href="https://github.com/stefan-kolb/paas-profiles" target="_blank" style="text-decoration: none; padding: 5px;">
										<img src="/img/github.png" style="width: 30px;"></img>
									</a>
									<a href="mailto:stefan.kolb@uni-bamberg.de" target="_blank" style="text-decoration: none; padding: 5px;">
										<img src="/img/email.png" style="width: 30px;"></img>
									</a>
									<a href="https://twitter.com/stfnklb" target="_blank" style="text-decoration: none; padding: 5px;">
										<img src="/img/twitter.png" style="width: 30px;"></img>
									</a>									
								</div>
							</div>
							<div class="row">
								<div class="span12 text-center" style="margin-top: 20px;">
									<small><em>&copy; 2013</em></small>
								</div>
							</div>
						</div>            
					</div>
				</div>
			</footer>		
	</body>
</html>