	<script src="http://code.highcharts.com/3.0/highcharts.js"></script>
	<link rel="stylesheet" href="/css/theme.bootstrap.css">
	<style>
      /* Main marketing message and sign up button */
      .jumbotron {
	  /*height: 400px;*/
        margin: 50px 0;
        text-align: center;
		/*background: url("img/sub.png") no-repeat;*/
		background-size: 100%;
      }
      .jumbotron h1 {
        font-size: 60px;
        line-height: 1;
		background: rgba(255, 255, 255, 0.6);
      }
      .jumbotron .lead {
        font-size: 18px;
        line-height: 1.25;
		background: rgba(255, 255, 255, 0.6);
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
	    .extendable {
			font-style: italic;
			color: #fff;
			background:#468847;
		}
    </style>
	
	<div class="jumbotron">
		<h1>Platform as a Service Statistics</h1>
        <p class="lead">Live statistics of the current PaaS vendor landscape.</p>
	</div>
	<div id="graph" style="height: 350px;" class="text-center"></div>
<script>
	$(document).ready(function() {
		$('ul.breadcrumb > li:first').wrapInner('<a href="/vendors" />');
		$('ul.breadcrumb > li:first').append('<span class="divider">/</span>');
		$('ul.breadcrumb > li:first').after('<li class="active">Statistics</li>');
		
		$('#graph').highcharts({
			chart: {
				plotBackgroundColor: null,
				plotBorderWidth: 0,
				plotShadow: false
			},
			title: {
				text: 'Runtimes',
				align: 'center',
				verticalAlign: 'middle',
				y: 0
			},
			tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions: {
				pie: {
					dataLabels: {
						enabled: true,
						distance: -35,
						style: {
							fontFamily: '\"Helvetica Neue\", Helvetica, Arial, sans-serif',
							fontWeight: 'bold',
							color: 'white'
						}
					}				
				}
			},
			credits: {
				enabled: false
			},			
			series: [{
				type: 'pie',
				name: 'Supported by',
				innerSize: '60%',
				data: [
					<%
					Vendor.distinct("runtimes.language").each do |l|
						c = Vendor.where("runtimes.language" => l).count
					%>
					['<%= l %>',   <%= c %>],
					<% end %>
				]
			}]
		});
	});
</script>