<div class="jumbotron">
  <h1><%= @teaser %><sup><span class="badge badge-warning">&beta;eta</span></sup></h1>

  <p class="lead text-info">Live statistics of the PaaS vendor landscape<sup class="muted">
    <small><a href="#footnotes">1</a></small>
  </sup>.
  </p>
</div>

<div class="row">
    <%= yield %>
</div>

<div id="footnotes" style="margin-top: 50px; border-top: 1px #eee solid;">
  <small><sup class="muted">1</sup> The data source is the most recent collection of
    <a href="https://github.com/stefan-kolb/paas-profiles/tree/master/profiles">PaaS Profiles</a>.
  </small>
</div>