	<script src="/js/jquery.tablesorter.min.js"></script>
	<script src="/js/jquery.tablesorter.widgets.min.js"></script>
	<link rel="stylesheet" href="/css/theme.bootstrap.css">
	<style>
      /* Main marketing message and sign up button */
      .jumbotron {
	  /*height: 400px;*/
        margin: 50px 0;
        text-align: center;
		/*background: url("img/sub.png") no-repeat;*/
		background-size: 100%;
      }
      .jumbotron h1 {
        font-size: 60px;
        line-height: 1;
		background: rgba(255, 255, 255, 0.6);
      }
      .jumbotron .lead {
        font-size: 18px;
        line-height: 1.25;
		background: rgba(255, 255, 255, 0.6);
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
	    .extendable {
			font-style: italic;
			color: #fff;
			background:#468847;
		}
    </style>
	
	<div class="jumbotron">
		<h1>Platform as a Service Statistics</h1>
        <p class="lead">What's best on your PaaS? Define your needs and get a list of candidates that claim to be your best fit.</p>
	</div>
<script>
$(document).ready(function() 
    { 
        $("#main").tablesorter({
			theme : 'bootstrap',
			headerTemplate : '{icon}{content}',
			widgets: ['uitheme']
		}); 
    } 
);
</script>