.crumb {
    padding: 10px 0px;
    margin: 0 0 0px;
    list-style: none;
    background-color: #f5f5f5;
}

.crumb>li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-shadow: 0 1px 0 #ffffff;
}

.crumb>li>.divider {
    padding: 0 5px;
    color: #ccc;
}

.crumb>.active {
    color: #999999;
}

hr.soften {
    height: 1px;
    margin: 25px 0 25px 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    border: 0;
}

.jumbotron {
    text-align: center;
    color: #eee;
}

.jumbotron h1 {
    font-size: 60px;
    line-height: 1;
}

.jumbotron .lead {
    font-size: 18px;
    line-height: 1.25;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.chart {
    padding-top: 50px;
    padding-bottom: 50px;
}

.status {
    display: block;
    width: 12px;
    height: 12px;
    float: left;
    margin: 2px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.status.green {
    background-color: #468847;
}

.status.yellow {
    background-color: #ffc40d;
}

.status.grey {
    background-color: #d5d5d5;
}

.bootstrap-select {
    max-width: 500px;
}

.i-link {
    color: #000000;
    text-decoration: none;
}

.i-link:hover, .i-link:focus, .i-link:active {
    text-decoration: none;
}

/* center-align hack */
.dropdown-menu {
    text-align: left;
}

@media (max-width: 767px) {
  #hero { width: calc(100vw - 40px) !important; }
}